{:tasks
 {:requires ([babashka.fs :as fs])

  test {:doc "Run tests"
        :task (apply clojure "-M:test" *command-line-args*)}

  nrepl {:doc "Start REPL"
         :task (shell "clj" "-M:nrepl")}

  run-main {:doc "Run main"
            :task (apply clojure "-M -m homecoming-server-status.main"
                         *command-line-args*)}

  uber {:doc "Build uberjar"
           :task (clojure "-T:build uber")}

  native-image {:doc "Builds native image"
                :depends [uber]
                :task (shell "native-image"
                             "-jar" "target/homecoming-server-status-0.0.1-standalone.jar"
                             "--no-fallback"
                             "--initialize-at-build-time"
                             "target/homecoming_server_status")}}}