{:tasks
 {:requires ([babashka.fs :as fs])

  test {:doc "Run tests"
        :task (apply clojure "-A:jvm-base" "-M:test" *command-line-args*)}

  nrepl {:doc "Start REPL"
         :task (shell "clj" "-A:jvm-base" "-M:nrepl")}

  run-main {:doc "Run main"
            :task (apply clojure "-A:jvm-base -M -m homecoming-server-status.main"
                         *command-line-args*)}

  uber {:doc "Build uberjar"
           :task (clojure "-A:jvm-base -T:build uber")}

  native-image {:doc "Builds native image"
                :depends [uber]
                :task (shell "native-image"
                             "-jar" "target/homecoming-server-status-0.0.1-standalone.jar"
                             "-J--add-opens=java.base/java.nio=ALL-UNNAMED"
                             "-J--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"
                             "--no-fallback"
                             "-H:ReflectionConfigurationFiles=reflect-config.json"
                             "-H:Name=homecoming-server-status"
                             ;; https://clojurians-log.clojureverse.org/graalvm/2022-05-19
                             "--features=clj_easy.graal_build_time.InitClojureClasses"
                             "--initialize-at-build-time=org.jsoup.nodes,org.jsoup.helper"
                             "target/homecoming_server_status")}}}