{:date-time #time/instant "2024-02-08T15:40:30Z", :servers [{:status :ok, :playing 234, :queued 0, :heroes 174, :villains 25, :maps 149, :shard-name :torchbearer} {:status :ok, :playing 689, :queued 0, :heroes 492, :villains 91, :maps 260, :shard-name :excelsior} {:status :ok, :playing 209, :queued 0, :heroes 136, :villains 35, :maps 132, :shard-name :indomitable} {:status :ok, :playing 311, :queued 0, :heroes 195, :villains 48, :maps 157, :shard-name :everlasting} {:status :ok, :playing 254, :queued 0, :heroes 172, :villains 52, :maps 143, :shard-name :reunion} {:status :ok, :playing 9, :queued 0, :heroes 8, :villains 0, :maps 58, :shard-name :brainstorm} {:status :ok, :playing 2, :queued 0, :heroes 1, :villains 1, :maps 56, :shard-name :beta-transfer-test}]}
